<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:jd="http://www.springframework.org/schema/jdbc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->
	
	<!-- Enables the Spring MVC @Controller programming model -->
	<!--<annotation-driven />  -->

	<!--<context:component-scan base-package="com.cts.emp" />  -->

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<!-- <resources mapping="/resources/**" location="/resources/" /> -->

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory -->
	
	
	<context:component-scan base-package="com.cts.emp" />
 	
 	<!--
 	<context:annotation-config />
 	
	<import resource="/WEB-INF/spring/spring-servlet.xml" />
	-->
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="org.postgresql.Driver"/>
    <property name="url" value="jdbc:postgresql://localhost:5432/EmployeeDB"/>
    <property name="username" value="postgres"/>
    <property name="password" value="-1"/>
    </bean>
 
 	<bean id="employeeDAO" class="com.cts.emp.dao.impl.EmployeeDAOImpl">
	   <property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="employeeService" class="com.cts.emp.service.impl.EmployeeServiceImpl">
	   <property name="employeeDAOImpl" ref="employeeDAO"/>
	</bean>
	
	<bean id="employeeController" class="com.cts.emp.controller.EmployeeController">
	   <property name="employeeServiceImpl" ref="employeeService"/>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
		<property name="prefix" value="/WEB-INF/views/"></property>  
		<property name="suffix" value=".jsp"></property>  
	</bean>
	
</beans>
